<!DOCTYPE html>
<html class="hb-html">
<head>
    <%- include('Public/common_header',{pageTitle: '404找不到该页面'}); %>
    <%- include('Public/common_header_end'); %>
</head>
<body class="hb-body">
<%- include('Public/header'); %>

<div class="hb-page-wrapper">
    <div class="hb-page-content">
        <div class="error-404-wrapper">
            <h1 class="title">404</h1>
            <p class="content">抱歉页面没有找到。页面可能已被删除。您可以 <a href="javascript:history.back()">返回</a> 或 <a href="/">回到首页</a></p>
        </div>
    </div>
</div>

<%- include('Public/ModalDialog'); %>
<%- include('Public/footer'); %>
<%- include('Public/common_footer'); %>

<script>
    $(function () {
        "use strict";
//        app.getStaticData();
        app.index.lazy();
//        app.index.nav();
        app.index.indexInit();
        app.index.register();
        app.index.zcBtn();
        app.index.uiForms();
        app.index.login();
        app.index.summitHover();
        app.index.loginInit();

//        app.index.topicEllipsis();
//        app.index.resizeLogo();

        /*searchIndex*/
//        app.searchIndex.searchForm();
//        app.searchIndex.reponsiveGrid();
//        app.searchIndex.sameHeight('father-height', 'son-height');
//        app.searchIndex.sameHeight('inner-father-height', 'inner-son-height');
    });
</script>
</body>
</html>

