<!DOCTYPE html>
<html>
<head>
    <%- include('Public/common_header',{pageTitle: data.pageTitle}); %>
    <%- include('Public/common_header_end'); %>
</head>
<body>
<%- include('Public/header'); %>
<div class="halo-search case">
    <%- include('Public/search_nav',{baseUrl:data.baseUrl}); %>
    <div class="search-box">
        <div class="container">
            <div class="search-box-text">
                <h4 class="f-white"><span  id="total-case"></span> 场精选婚礼案例 与 <span id="total-image"></span> 张灵感婚礼图片</h4>
                <p class="f-white">在这里，见证一个行业的跌宕起伏。</p>
            </div>
            <div class='search-box-input col-md-6 col-md-push-3'>
                <div class="col-md-12 col-sm-12">
                    <div class="search_input">
                        <form action="<%= data.baseUrl %>">
                            <span class="search_wrapper">
                                <input type="text" placeholder="搜索有关婚礼的一切" value="<%= data.tag %>" name="tag">
                                <button class="search_button" type="submit">
                                   <!--<img src="/images/img5.png" alt="">-->
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </form>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 search_button_group">
                    <form action="">
                        <div class="col-md-3 col-xs-3 col-sm-3">
                            <a class="f-12" href="?<%=search(data.query,{tag:'童话',page:1})%>">童话</a>
                        </div>
                        <div class="col-md-3 col-xs-3 col-sm-3">
                            <a class="f-12" href="?<%=search(data.query,{tag:'波普',page:1})%>">波普</a>
                        </div>
                        <div class="col-md-3 col-xs-3 col-sm-3">
                            <a class="f-12" href="?<%=search(data.query,{tag:'新中式',page:1})%>">新中式</a>
                        </div>
                        <div class="col-md-3 col-xs-4 col-sm-3">
                            <a class="f-12" href="?<%=search(data.query,{tag:'公主风',page:1})%>">公主风</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <% if (!data.isMatchTag&&data.tag) { %>
    <div class="search-result">
        <div class="container">
            <p>您目前在 婚礼案例 搜索关键字<span class="keyword">“ <%=data.tag%> ”</span>，共找到 <%= data.total %> 个内容</p>
        </div>
    </div>
    <% }else{ %>

    <div class="container">
        <!-- Nav tabs -->
        <div id="tab" class="tab-list">
            <div class="tab-title">
                <div class="tab-title-left">
                    <% if (data.query.color){ %>
                    <style>
                        .halo-search.case .tab-list .tab-title .tab-title-left ul.nav-tabs.nav li.active {
                            border-top: 2px solid <%= '#'+data.query.color %>!important;
                        }
                    </style>
                    <%}%>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="<% if (data.activeTab=='listColor'){ %>active<%}%>"><a href="#tab1"  data-toggle="tab" class="category">颜色</a></li>
                        <li class="<% if (data.activeTab=='listStyle'){ %>active<%}%>" ><a href="#tab2" data-toggle="tab" class="category">风格</a></li>
                    </ul>
                </div>
                <div class="tab-title-right">
                    <a href="?<%= search(data.query,{sort:1}) %>" class="f-12 <% if (data.sort=='1'){ %>active<%}%>"><span class="text">最新</span><span class="bar">|</span></a>
                    <a href="?<%= search(data.query,{sort:2}) %>" class="f-12 <% if (data.sort=='2'){ %>active<%}%>"><span class="text">最热</span><span class="bar">|</span></a>
                    <a href="?<%= search(data.query,{sort:3}) %>" class="f-12 <% if (data.sort=='3'){ %>active<%}%>"><span class="text">最赞</span></a>
                </div>
            </div>
        </div>
        <!-- Tab panes -->
        <div class="tab-list-content ">
            <div class="tab-content tab-list-content-wrapper">
                <div  class="tab-pane tab-list-content-item <% if (data.activeTab=='listColor'){ %>active<%}%>" id="tab1">
                    <ul>
                        <% data.listColor.forEach(function(item,i){ %>
                        <li>
                            <% if (i==0){ %>
                            <a class="<% if (data.query.color==data.listColorHex[i]){ %>active<%}%>"
                               href="?<%=search(data.query,{page:1},['tag','color'])%>">
                                <%= item %>
                            </a>
                            <%}else{%>

                            <a class="<% if (data.query.color==data.listColorHex[i]){ %>active<%}%>"
                               href="?<%=search(data.query,{color:data.listColorHex[i],page:1},['tag']) %>">
                                <%= item %>
                            </a>
                            <%}%>
                        </li>
                        <% }); %>
                    </ul>
                </div>
                <div  class="tab-pane tab-list-content-item <% if (data.activeTab=='listStyle'){ %>active<%}%>" id="tab2">
                    <ul>
                        <% data.listStyle.forEach(function(item,i){ %>
                        <li>
                            <% if(i==0){ %>
                            <a  class="<% if (data.tag==item){ %>active<%}%>" href="?<%= search(data.query,{page:1},['tag','color']) %>">
                                <%= item %>
                            </a>
                            <% }else{ %>
                            <a class="<% if (data.tag==item){ %>active<%}%>" href="?<%=search(data.query,{tag:item,page:1},['color']) %>">
                                <%= item %>
                            </a>
                            <% } %>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <% } %>
    <div class="case-list-block">
        <div class="container">
            <% data.caseList.forEach(function(n,i){ %>
                <div class="col-md-2 col-sm-4">
                    <div  class="block-content-item">
                        <a href="case/detail/<%= data.caseList[i].id %>"><img src="<%= data.caseList[i].cover %>" alt="" ></a>
                        <div class="content-item-text">
                            <a href="case/detail/<%= data.caseList[i].id %>"><h4 class="f-16 omit"><%= data.caseList[i].title %></h4></a>
                            <a href="company/detail/<%=data.caseList[i].company_id  %>"><p class="f-12 s-title f-black"><%= data.caseList[i].company||'不明' %></p></a>
                            <div class="content-item-text-desc">
                                <ul class="desc-list">
                                    <li class="desc-list-item f-10 desc-list-special"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num"><%= data.caseList[i].views %></span></li>
                                    <li class="desc-list-item f-10 desc-list-special"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num"><%= data.caseList[i].points %></span></li>
                                    <li class="desc-list-item f-10 desc-list-special"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num"><%= data.caseList[i].comments %></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <% if (data.totalPages>1) { %>
    <div class="case-pagination">
        <div class="container">
            <ul id="pagination" class="pagination pagination-item"></ul>
        </div>
    </div>
    <%}%>

</div>

    <%- include('Public/ModalDialog'); %>
    <%- include('Public/footer'); %>
    <%- include('Public/common_footer'); %>

<script>
    $(function(){
        "use strict";
        window.appData = <%- JSON.stringify(data) %>;
        app.getStaticData();
        app.index.lazy();
        app.index.nav();
        app.index.indexInit();
        app.index.register();
        app.index.zcBtn();
        app.index.uiForms();
        app.index.login();
        app.index.summitHover();
        app.index.loginInit();
        //app.common.omit("omit",8);
        /*caseIndex*/
        app.caseIndex.tab();
        app.caseIndex.pagActive();
    })


</script>
</body>
</html>


