<!DOCTYPE html>
<html class="html-company-detail ">
<head>
    <%- include('Public/common_header',{pageTitle: data.pageTitle}); %>
    <%- include('Public/common_header_end'); %>
</head>
<body>
<%- include('Public/header'); %>
<div class="halo-search case companyDetail">
    <div  class="detail-nav-bg">
    <%- include('Public/search_nav',{baseUrl:data.baseUrl}); %>
    </div>
    <div class="company-detail">
        <div class="s-container wrapper cf">
            <div class="company-wrapper clearfix">
                <div class="company-left-box">
                    <div class="company-logo">
                        <img src="<%= data.company_logo %>" alt="">
                    </div>
                    <div class="company-name f-18">
                        <%= data.name %>
                    </div>
                    <div class="company-web f-14">
                        <a target="_blank" href="<%= data.websiteLink %>"><%= data.website %></a>
                    </div>
                    <div class="company-w">

                    </div>
                </div>
                <div class="company-right-box">
                    <div class="company-about">
                        <p>公司简介</p>
                        <%= data.description %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('Public/ModalDialog'); %>
<%- include('Public/footer'); %>
<%- include('Public/common_footer'); %>





<script>
    $(function(){
        "use strict";
//        app.getStaticData();
        app.index.lazy();
        app.index.nav();
        app.index.indexInit();
        app.index.register();
        app.index.zcBtn();
        app.index.uiForms();
        app.index.login();
        app.index.summitHover();
        app.index.loginInit();
        app.companyDetail.toggleCases();
       // app.common.verticalMiddle("desc-p","desc-txt");
//        app.common.alignCenter("wrapper","inner");
        //app.common.omit("p-title",8);


    })


</script>
</body>
</html>



