<!DOCTYPE html>
<html>
<head>
    <%- include('Public/common_header',{pageTitle: data.title}); %>
    <%- include('Public/common_header_end'); %>
</head>
<body>
<%- include('Public/header'); %>
<div class="halo-search case company">
    <%- include('Public/search_nav',{baseUrl:data.baseUrl}); %>
<div class="search-box">
    <div class="s-container clearfix">
        <div class="search-box-text">
            <h4 class="f-white"><span id="total-case"></span> 场精选婚礼案例 与 <span id="total-image"></span> 张灵感婚礼图片</h4>
            <p class="f-white f-18">在这里，见证一个行业的跌宕起伏。</p>
        </div>
        <div class='search-box-input case clearfix'>
            <div class="search_input ">
                <form action="<%= data.baseUrl %>">
                        <span class="search_wrapper">
                            <input type="text" placeholder="搜索有关婚礼的一切" value="<%= data.keywords %>" name="keywords">
                            <button class="search_button company" type="submit">
                                <!--<img src="/images/img5.png" alt="">-->
                                <span class="haloIcon haloIcon-glass f-30" ></span>
                            </button>
                        </span>
                </form>
            </div>
            <div class="search_button_group">
                <form action="">
                    <div class="button_group_item">
                        <a class="f-14" href="?<%=search(data.query,{keywords:"上海婚礼主义",page:1})%>">上海婚礼主义</a>
                    </div>
                    <div class="button_group_item">
                        <a class="f-14" href="?<%=search(data.query,{keywords:"诺丁山企划",page:1})%>">诺丁山企划</a>
                    </div>
                    <div class="button_group_item">
                        <a class="f-14" href="?<%=search(data.query,{keywords:"Dream Wedding",page:1})%>">Dream Wedding</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="s-container clearfix">
    <% if (data.query.keywords) { %>
    <div class="search-result">
        <div class="s-container">
            <p>您目前在 婚礼公司 搜索关键字<span class="keyword">“ <%= data.query.keywords %> ”</span>，共找到 <%= data.total %> 个内容</p>
        </div>
    </div>


    <% }else{ %>


    <div id="tab" class="tab-list">
        <div class="s-container">
            <div class="tab-title">
                <div class="tab-title-left">
                    <a class="category box-shadow active">地区</a>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-list-content show">
        <div class="s-container">
            <div class="tab-list-content-wrapper box-shadow">
                <div class="tab-list-content-item">

                    <ul  class="city-list">
                        <% data.region.forEach(function(n,i){ %>
                        <% if (i==0){ %>
                        <li><a href="?" class="<% if (data.query.r==n.id){ %>active<%}%>" id="area-item-<%= n.id %>"><%= n.city %></a></li>
                        <%}else{%>
                        <li><a href="?r=<%= n.id %>" class="<% if (data.query.r==n.id){ %>active<%}%>" id="area-item-<%= n.id %>"><%= n.city %></a></li>
                        <%}%>

                        <% }) %>
                    </ul>

                    <ul id="area-list-level-2" class="area-list show">
                        <% if (data.query.r){ %>
                        <div class="loading-box" ><i class="fa fa-spinner fa-spin"></i></div>
                        <%}%>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <% if(data.data.length==0){ %>

        <div class="s-container" >
            <div class="company-list-no-content">
                该地区暂无公司
            </div>
        </div>
    <%}%>

    <%}%>

    <div id="company-list" class="company-list-block clearfix">
        <div class="s-container">

            <% data.data.forEach(function(n,i){ %>
                <div class="company-list-item <% if(i%6==0){%>l-first<%} %>">
                    <a href="<%= data.baseUrl %>/detail/<%= n.id %>" class="block-content-item">
                        <img src="<%= n.logo %>" alt="">
                        <div class="content-item-text">
                            <h4 class="f-14"><%= n.name %></h4>
                            <p class="f-12 s-title f-black">共<%= n.case_num %>个案例</p>
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>
    </div>



    <% if (data.totalPages>1) { %>
    <div class="case-pagination">
        <div class="s-container">
            <ul id="pagination" class="pagination pagination-item"></ul>
        </div>
    </div>
    <%}%>

</div>
<%- include('Public/ModalDialog'); %>
<%- include('Public/footer'); %>
<%- include('Public/common_footer'); %>
<script src="http://7xopel.com2.z0.glb.qiniucdn.com/static/js/region.js"></script>

<script>
    $(function(){
        <%- 'window.appData ='+JSON.stringify(appData) %>;
        app.getStaticData();
        app.index.lazy();
        app.index.nav();
        app.index.indexInit();
        app.index.register();
        app.index.zcBtn();
        app.index.uiForms();
        app.index.login();
        app.index.summitHover();
        app.index.loginInit();
        //app.common.omit("content-item-text>h4",11);

        /*companyIndex*/
        app.companyIndex.regionTab();
        app.companyIndex.pagActive();
//        app.companyIndex.resizeLogo();
    })
</script>
</body>
</html>


