<!DOCTYPE html>
<html class="html-company-detail ">
<head>
    <%- include('Public/common_header',{pageTitle: data.pageTitle}); %>
    <%- include('Public/common_header_end'); %>
</head>
<body>
<%- include('Public/header'); %>
<div class="halo-search case companyDetail">
    <div  class="detail-nav-bg">
    <%- include('Public/search_nav',{baseUrl:data.baseUrl}); %>
    </div>
    <div class="company-detail">
        <div class="s-container wrapper cf">
            <div class="company-wrapper clearfix">
                <div class="company-left-box">
                    <div class="company-logo">
                        <img src="<%= data.company_logo %>" alt="">
                    </div>
                    <div class="company-name f-18">
                        <%= data.name %>
                    </div>
                    <div class="company-web f-14">
                        <a target="_blank" href="<%= data.websiteLink %>"><%= data.website %></a>
                    </div>
                    <div class="company-w">
                        <%if(data.weibo_name){%>
                        <span class="weibo f-14"><a href="http://<%= data.weibo_site%>" target="_blank"><img src="/images/weibo.png" alt="" class="img"><%= data.weibo_name %></a></span>
                        <%}%>
                        <%if(data.wechat){%>
                        <span class="weixin f-14"><img src="/images/weixin.png" alt="" class="img"><%= data.wechat %></span>
                        <%}%>
                    </div>
                </div>
                <div class="company-right-box">
                    <div class="company-about f-14">
                        <p class="about">公司简介</p>
                        <p class="content"><%= data.description %></p>
                    </div>
                    <div class="bottom">
                        <div class="company-tel">
                            <span class="left">营业时间：<%= data.hours_start %></span>
                            <span class="right">联系电话：
                                <%if(data.tel_1){%>
                                <i class="ml"><%= data.tel_1%></i>
                                <%}%>
                                <%if(data.tel_2){%>
                                <i class="ml"><%= data.tel_2%></i>
                                <%}%>
                                <%if(data.tel_3){%>
                                <i class="ml"><%= data.tel_3%></i>
                                <%}%>
                            </span>
                        </div>
                        <div class="company-address">
                            <span>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</span><%= data.address %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="company-list clearfix">
                <% data.caseList.forEach(function(n, i){ %>
                <div class="company-list-item <% if(i%4==0){%>l-first<%} %>">
                        <a href="/case/detail/<%= n.id %>" class="company-detail-item"><img src="<%= n.cover %>" alt="" class="clearfix img "></a>
                        <div class="content-item-text">
                            <div class="content-item-text-desc">
                                <a href="/case/detail/<%= n.id %>"><p class="f-14 p-title"><%= n.title %></p></a>
                                <ul class="desc-list clearfix list-unstyled">
                                    <li class="item desc-list-item "><span
                                                class="haloIcon haloIcon-eye f-16"></span><span
                                                class="desc-list-item-num f-12"><%= viewNumber(n.views) %></span>
                                    </li>
                                    <li class="item desc-list-item "><span
                                                class="haloIcon haloIcon-heart2 f-16"></span><span
                                                class="desc-list-item-num f-12"><%= viewNumber(n.points) %></span>
                                    </li>
                                    <li class="item desc-list-item "><span
                                                class="haloIcon haloIcon-message f-16"></span><span
                                                class="desc-list-item-num f-12"><%= viewNumber(n.comments) %></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>
                <%})%>
            </div>
        </div>
    </div>
</div>
<%- include('Public/ModalDialog'); %>
<%- include('Public/footer'); %>
<%- include('Public/common_footer'); %>





<script>
    $(function(){
        "use strict";
//        app.getStaticData();
        app.index.lazy();
        app.index.nav();
        app.index.indexInit();
        app.index.register();
        app.index.zcBtn();
        app.index.uiForms();
        app.index.login();
        app.index.summitHover();
        app.index.loginInit();
        app.companyDetail.toggleCases();
       // app.common.verticalMiddle("desc-p","desc-txt");
//        app.common.alignCenter("wrapper","inner");
        //app.common.omit("p-title",8);
        app.common.sameHeight();

    })


</script>
</body>
</html>



