<!DOCTYPE html>
<html class="html-company-detail">
<head>
    <%- include('Public/common_header',{pageTitle: data.pageTitle}); %>
    <%- include('Public/common_header_end'); %>
</head>
<body>
<%- include('Public/header'); %>
<div class="halo-search case companyDetail">
    <div  class="detail-nav-bg">
    <%- include('Public/search_nav',{baseUrl:data.baseUrl}); %>
    </div>
    <div class="company-detail ">
        <div class="container wrapper">
            <div class="col-md-12 col-sm-12 col-xs-12 inner">
                 <div class="company-detail-content">
                      <div class="content-topic">
                          <img src="<%= data.cover %>" alt=""/>
                      </div>
                     <div class="company-desc">
                         <div class="desc-pic">
                             <img src="<%= data.company_logo %>" alt=""/>
                         </div>
                         <div class="desc-p">
                             <span class="f-20 desc-txt"><%= data.name %></span>
                         </div>
                     </div>
                     <div class="company-about">
                          <div class="desc-pic">
                              <p class="about-title float-right f-14">公司简介</p>
                          </div>
                          <div class="desc-p">
                              <p class="f-14"><%= data.description %></p>
                          </div>
                     </div>
                     <div class="company-about special">
                         <div class="desc-pic">
                             <p class="about-title float-right f-14">公司信息</p>
                         </div>
                         <div class="desc-p">
                             <%if(data.website){%>
                               <p class="f-14">官方网址：<span><%= data.website %></span></p>
                             <%}%>

                             <%if(data.weibo_name){%>
                                <p class="f-14">官方微博：<span><%= data.weibo_name %></span></p>
                             <%}%>

                             <%if(data.wechat){%>
                                <p class="f-14">腾讯微信：<span><%= data.wechat %></span></p>
                             <%}%>

                             <%if(data.updated_at){%>
                                <p class="f-14">营业时间：<span><%= data.updated_at %></span></p>
                             <%}%>
                             <%if(data.tel_1 || data.tel_2 || data.tel_3){%>
                                <p class="f-14">联系电话：<span><%= data.tel_1 || data.tel_2 || data.tel_3%></span></p>
                             <%}%>
                             <%if(data.address){%>
                                <p class="f-14">地<span style="margin-left: 2em;">址</span>：<span><%= data.address %></span></p>
                             <%}%>
                         </div>
                     </div>
                     <div class="company-about ">
                         <div class="desc-pic special">
                             <p class="about-title float-right f-14">公司案例</p>
                         </div>
                         <div class="desc-p no-top">
                             <% data.caseList.forEach(function(n,i){ %>
                             <%if(i<16){%>

                                 <div class="col-md-3 col-sm-3 col-xs-3">
                                     <a class="block-content-item left" href="/case/detail/<%= n.id %>">
                                         <img src="<%= n.cover %>" alt="">
                                         <div class="content-item-text">
                                             <div class="content-item-text-desc">
                                                 <p class="f-12 f-white p-title"><%= n.title %></p>
                                                 <ul class="desc-list clearfix list-unstyled">
                                                     <li class="item desc-list-item"><span class="haloIcon haloIcon-eye"></span><span class="desc-list-item-num"><%= viewNumber(n.views)%></span></li>
                                                     <li class="item desc-list-item"><span class="haloIcon haloIcon-heart2"></span><span class="desc-list-item-num"><%= viewNumber(n.points)%></span></li>
                                                     <li class="item desc-list-item"><span class="haloIcon haloIcon-message"></span><span class="desc-list-item-num"><%= viewNumber(n.comments)%></span></li>
                                                 </ul>
                                             </div>
                                         </div>
                                     </a>
                                 </div>

                             <%}%>
                             <%if(i==16){%>
                             <div class="rest-cases-toggle col-md-12 col-sm-12 col-xs-12" id="rest-cases-toggle__bt" ><a  class="bt" ><span class="text">展开</span> <i class="glyphicon glyphicon-menu-down"></i></a></div>
                             <div id="expand-more" class="collapse">
                             <%}%>
                             <%if(i>=16){%>
                                 <div class="col-md-3 col-sm-3 col-xs-3">
                                     <a class="block-content-item left" href="/case/detail/<%= n.id %>">
                                         <img src="<%= n.cover %>" alt="">
                                         <div class="content-item-text">
                                             <div class="content-item-text-desc">
                                                 <p class="f-12 f-white p-title"><%= n.title %></p>
                                                 <ul class="desc-list clearfix list-unstyled">
                                                     <li class="item desc-list-item"><span class="haloIcon haloIcon-eye"></span><span class="desc-list-item-num"><%= viewNumber(n.views)%></span></li>
                                                     <li class="item desc-list-item"><span class="haloIcon haloIcon-heart2"></span><span class="desc-list-item-num"><%= viewNumber(n.points)%></span></li>
                                                     <li class="item desc-list-item"><span class="haloIcon haloIcon-message"></span><span class="desc-list-item-num"><%= viewNumber(n.comments)%></span></li>
                                                 </ul>
                                             </div>
                                         </div>
                                     </a>
                                 </div>
                             <%}%>

                             <%if(i>=16&&i==data.caseList.length){%>
                             </div>
                             <%}%>


                             <% }) %>

                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</div>
<%- include('Public/ModalDialog'); %>
<%- include('Public/footer'); %>
<%- include('Public/common_footer'); %>





<script>
    $(function(){
        "use strict";
//        app.getStaticData();
        app.index.lazy();
        app.index.nav();
        app.index.indexInit();
        app.index.register();
        app.index.zcBtn();
        app.index.uiForms();
        app.index.login();
        app.index.summitHover();
        app.index.loginInit();
        app.companyDetail.toggleCases();
       // app.common.verticalMiddle("desc-p","desc-txt");
//        app.common.alignCenter("wrapper","inner");
        //app.common.omit("p-title",8);


    })


</script>
</body>
</html>



