<!DOCTYPE html>
<html>
<head>
    <%- include('Public/common_header',{pageTitle: data.pageTitle}); %>
    <%- include('Public/common_header_end'); %>
</head>
<body>
<%- include('Public/header'); %>
<div class="halo-search case companyDetail">
    <%- include('Public/search_nav',{baseUrl:data.baseUrl}); %>
    <div class="company-detail ">
        <div class="container wrapper">
            <div class="col-md-10 col-sm-12 col-xs-12 inner">
                 <div class="company-detail-content">
                      <div class="content-topic">
                          <img src="<%= data.cover %>" alt=""/>
                      </div>
                     <div class="company-desc">
                         <div class="desc-pic">
                             <img src="<%= data.company_logo %>" alt=""/>
                         </div>
                         <div class="desc-p">
                             <span class="f-18 desc-txt"><%= data.name %></span>
                         </div>
                     </div>
                     <div class="company-about">
                          <div class="col-md-2 col-sm-2">
                              <p class="about-title float-right">公司简介</p>
                          </div>
                          <div class="col-md-10 col-sm-10">
                              <p><%= data.description %></p>
                          </div>
                     </div>
                     <div class="company-about">
                         <div class="col-md-2 col-sm-2">
                             <p class="about-title float-right">公司信息</p>
                         </div>
                         <div class="col-md-10 col-sm-10">
                             <%if(data.website){%>
                               <p>官方网址：<span><%= data.website %></span></p>
                             <%}%>

                             <%if(data.weibo_name){%>
                                <p>官方微博：<span><%= data.weibo_name %></span></p>
                             <%}%>

                             <%if(data.wechat){%>
                                <p>腾讯微信：<span><%= data.wechat %></span></p>
                             <%}%>

                             <%if(data.updated_at){%>
                                <p>营业时间：<span><%= data.updated_at %></span></p>
                             <%}%>
                             <%if(data.tel_1 || data.tel_2 || data.tel_3){%>
                                <p>联系电话：<span><%= data.tel_1 || data.tel_2 || data.tel_3%></span></p>
                             <%}%>
                             <%if(data.address){%>
                                <p>地<span style="margin-left: 2em;">址</span>：<span><%= data.address %></span></p>
                             <%}%>
                         </div>
                     </div>
                     <div class="company-about">
                         <div class="col-md-2 col-sm-2">
                             <p class="about-title float-right">公司案例</p>
                         </div>
                         <div class="col-md-10 col-sm-10 no-top">
                             <% data.caseList.forEach(function(n,i){ %>
                                 <div class="col-md-3 col-sm-12">
                                     <a class="block-content-item left" href="/case/detail/<%= n.id %>">
                                         <img src="<%= n.cover %>" alt="">
                                         <div class="content-item-text">
                                             <div class="content-item-text-desc">
                                                 <p class="f-16 f-white p-title"><%= n.title %></p>
                                                 <ul class="desc-list">
                                                     <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num"><%= n.views %></span></li>
                                                     <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num"><%= n.comments %></span></li>
                                                     <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num"><%= n.points %></span></li>
                                                 </ul>
                                             </div>
                                         </div>
                                     </a>
                                 </div>
                             <% }) %>

                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</div>
<%- include('Public/ModalDialog'); %>
<%- include('Public/footer'); %>
<%- include('Public/common_footer'); %>





<script>
    $(function(){
        "use strict";
//        app.getStaticData();
        app.index.lazy();
        app.index.nav();
        app.index.indexInit();
        app.index.register();
        app.index.zcBtn();
        app.index.uiForms();
        app.index.login();
        app.index.summitHover();
        app.index.loginInit();
        app.common.verticalMiddle("desc-p","desc-txt");
        app.common.alignCenter("wrapper","inner");
        //app.common.omit("p-title",8);
    })


</script>
</body>
</html>



