<!DOCTYPE html>
<html class="html-case-detail">
<head>
    <%- include('Public/common_header',{pageTitle: data.pageTitle}); %>
    <%- include('Public/common_header_end'); %>
</head>
<body>
<%- include('Public/header'); %>
<div class="halo-search caseDetail hotelDetail">
    <div  class="detail-nav-bg">
        <%- include('Public/search_nav',{baseUrl:data.baseUrl}); %>
    </div>
    <div class="case-detail-block">
        <div class="s-container clearfix">
            <div class="wrapper clearfix">
                <div class="content-left-box detail-content-wrapper">
                    <% hall.forEach(function(val,index){%>
                    <div class="hall-item">
                        <!--酒店名-->
                        <div class="hotel-content-name" id="<%= val.in.id%>">
                            <i class="line">——————</i><span class="f-20 name"> <%= val.in.name%> </span><i class="line">——————</i>
                        </div>
                        <!--酒店外-->
                        <% if(val.out.attach){%>
                        <div class="detail-hotel-content">
                            <div class="detail-hotel-swiper">
                                <% if(val.out.attach){%>
                                <div class="swiper-container">
                                    <% if(val.out.pano_url){%>
                                    <a class="swiper-tip" href="<%= val.out.pano_url%>" target="_blank">
                                        <span class="span-style f-14">酒店外景</span>
                                        <span class="span-style f-14">720度全景</span>
                                    </a>
                                    <%}%>
                                    <% if(val.out.attach){%>
                                    <div class="swiper-wrapper slider gallery-top" id="gallery-top<%= index%>">
                                        <% val.out.attach.forEach(function(n,i){%>
                                        <div class="swiper-slide">
                                            <img src="<%= n.image_url%>" alt="" class="swiper-pic">
                                        </div>
                                        <%})%>
                                    </div>
                                    <%}%>
                                    <a href="<%= val.out.pano_url%>" class="fake-pic-wrapper" target="_blank">
                                        <div class="text">720全景</div>
                                        <div class="wrapper"></div>
                                        <img src="<%= val.in.cover%>" alt="">
                                    </a>
                                    <% if(val.out.thumb ){%>
                                    <div class="swiper-wrapper slider swiper-thumbs" swiper-thumbs id="gallery-thumbs<%= index%>">
                                        <% val.out.thumb.forEach(function(n,i){%>
                                        <div class="swiper-slide">
                                            <img src="<%= n%>" alt="" class="img" swiper-slide-img>
                                        </div>
                                        <%})%>
                                    </div>
                                    <%}%>
                                </div>
                                <%}%>
                            </div>
                        </div>
                        <div class="bottom-line" style="height:1px;width:100%;margin:auto;background:#eeeeee;"></div>
                        <%}%>
                        <!--酒店内-->
                        <% if(val.in.attach){%>
                        <div class="detail-hotel-content" >
                            <div class="detail-hotel-swiper">
                                <div class="swiper-container">
                                    <% if(val.in.pano_url){%>
                                    <a class="swiper-tip" href="<%= val.in.pano_url%>" target="_blank">
                                        <span class="span-style f-14"><%= val.in.name%></span>
                                        <span class="span-style f-14">720度全景</span>
                                    </a>
                                    <% }%>
                                    <% if(val.in.attach){%>
                                    <div class="swiper-wrapper slider gallery-top" id="gallery-top-s<%= index%>">
                                        <% val.in.attach.forEach(function(n,i){%>
                                        <div class="swiper-slide">
                                            <img src="<%= n.image_url%>" alt="" class="swiper-pic">
                                        </div>
                                        <%})%>
                                    </div>
                                    <%}%>
                                    <a href="<%= val.in.pano_url%>" class="fake-pic-wrapper" target="_blank">
                                        <div class="text">720全景</div>
                                        <div class="wrapper"></div>
                                        <img src="<%= val.in.cover%>" alt="">
                                    </a>
                                    <% if(val.in.thumb ){%>
                                    <div class="swiper-wrapper slider swiper-thumbs" swiper-thumbs id="gallery-thumbs-s<%= index%>">
                                        <% val.in.thumb.forEach(function(n,i){%>
                                        <div class="swiper-slide">
                                            <img src="<%= n%>" alt="" class="img" swiper-slide-img>
                                        </div>
                                        <%})%>
                                    </div>
                                    <%}%>
                                </div>
                                <div class="swiper-container-wrapper">
                                    <div class="swiper-container gallery-thumbs" swiper-thumbs >

                                    </div>
                                </div>
                                <div class="hotel-info">
                                    <table class="table">
                                        <tbody>
                                        <tr class="f-16 tr">
                                            <td class="td">面积：<span class="style"><% if(val.in.room_l!=="" && val.in.room_w!==""){%><%= parseInt(val.in.room_l)*parseInt(val.in.room_w)%><%}else{%>不明<%}%></span></td>
                                            <td class="td">层高：<span class="style"><% if(val.in.stage_h!==""){%><%= val.in.stage_h%><%}else{%>不明<%}%></span></td>
                                            <td class="td">形状：<span class="style"><% if(val.in.shape){%><%= val.in.shape%><%}else{%>不明<%}%></span></td>
                                        </tr>
                                        <tr class="f-16 tr">
                                            <td class="td">投影设备：<span class="style"><% if(val.in.equip_project){%><%= val.in.equip_project%><%}else{%>不明<%}%></span></td>
                                            <td class="td">柱子：<span class="style"><% if(val.in.pillar_num!==""){%><%= val.in.pillar_num%><%}else{%>不明<%}%></span></td>
                                            <td class="td">桌数：<span class="style"><% if(val.in.table_num!==""){%><%= val.in.table_num%><%}else{%>不明<%}%></span></td>
                                        </tr>
                                        <% if(val.in.summary){%>
                                        <tr class="f-16 tr">
                                            <td class="td " colspan="3"><span class="col-text">描述：</span><span class="style"><%= val.in.summary%></span></td>
                                        </tr>
                                        <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <% }%>
                    </div>
                    <%})%>
                </div>
                <div class="content-right-box">
                    <div class="hotel-detail-list">
                        <div class="detail-list-company hotel">
                            <div class="company-img">
                                <img class="img" src="<%= data.cover%>" alt=""/>
                            </div>
                            <div class="company-desc">
                                <% if(data.name){%>
                                <div class="f-16 name">
                                    <%= data.name%>
                                </div>
                                <%}%>
                                <% if(data.address){%>
                                <div class="f-16 address">
                                    <i class="icon haloIcon haloIcon-address f-22"></i><%= data.address%>
                                </div>
                                <%}%>
                                <% if(data.tel_1 || data.tel_2 || data.tel_3 || data.tel_4){%>
                                <div class="f-16 phone">
                                    <i class="icon haloIcon haloIcon-phone f-22"></i>
                                    <%if(data.tel_1){%>
                                    <span class="tel"><%= data.tel_1%></span>
                                    <%}%>
                                    <%if(data.tel_2){%>
                                    <span class="tel"><%= data.tel_2%></span>
                                    <%}%>
                                    <%if(data.tel_3){%>
                                    <span class="tel"><%= data.tel_3%></span>
                                    <%}%>
                                    <%if(data.tel_4){%>
                                    <span class="tel"><%= data.tel_4%></span>
                                    <%}%>
                                </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                    <% if(hall.length>0){%>
                    <div class="other-like-case hotelDetail room">
                        <h4 class="f-14">全部宴会厅</h4>
                        <div class="other-case-block">
                            <% hall.forEach(function(val,index){%>
                            <div class="case-item">
                                <div class="case-pic">
                                    <% if(val.in.cover){%>
                                    <div class="case-pic-img">
                                        <a href="#<%= val.in.id%>" class="case-pic-a">
                                            <img src="<%= val.in.cover%>" alt="" class="img"/>
                                            <%if(val.in.pano_url){%><div class="tip f-12">720全景</div><%}%>
                                        </a>
                                    </div>
                                    <% }%>
                                    <div class="case-pic-desc">
                                        <a href="" class="case-pic-a f-14"><%= val.in.name%></a>
                                        <span class="f-12">最大容纳<%= val.in.table_num%>桌</span>
                                    </div>
                                </div>
                            </div>
                            <%})%>
                        </div>
                    </div>
                    <%}%>
                    <!--<div class="other-like-case hotelDetail case">
                        <h4 class="f-14">宴会厅真实婚礼</h4>
                        <div class="other-case-block">
                            <% for(var i=0;i<10;i+=2){  %>
                            <div class="case-item">
                                <div class="case-pic">
                                    <a href="/case/detail/" class="case-pic-a"><img src="/images/img16.jpg" alt="" class="case-pic-img lazy"/></a>
                                    <div class="case-pic-desc">
                                        <a href="/case/detail/" class="case-pic-a f-14">十一</a>
                                    </div>
                                </div>
                                <div class="case-pic">
                                    <a href="/case/detail/" class="case-pic-a"><img src="/images/img16.jpg" alt="" class="case-pic-img lazy"/></a>
                                    <div class="case-pic-desc">
                                        <a href="/case/detail/" class="case-pic-a f-14">十一</a>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                        </div>
                    </div>-->
                    <%if(data.description){%>
                    <div class="other-like-case hotelDetail desc">
                        <h4 class="f-14">酒店简介</h4>
                        <div class="hotel-block">
                            <div class="desc-t more" id="moreText">
                                <%= data.description%>
                            </div>
                            <div class="see-more">
                                <a class="a-style" id="seeMore">查看全部<i class="haloIcon haloIcon-arrowdown f-18"></i></a>
                            </div>
                        </div>
                    </div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('Public/ModalDialog'); %>
<%- include('Public/footer'); %>
<%- include('Public/common_footer'); %>
<script src="//cdn.bootcss.com/slick-carousel/1.6.0/slick.min.js"></script>
<script>
    $(function(){
        "use strict";
        <%= 'window.hallNum ='+  data.hall_num %>;

        app.index.nav();

        app.index.indexInit();
        app.index.register();
        app.index.zcBtn();
        app.index.uiForms();
        app.index.login();
        app.index.forgetPassword();
        app.index.summitHover();
        app.index.loginInit();

        app.hotelDetail.seeMore();
        //app.hotelDetail.buttonIn();
        //app.hotelDetail.panoPic();
        app.hotelDetail.noIe9();
        for(var i=0;i<parseInt(hallNum);i++){
            var val1="#gallery-top"+i;
            var val2="#gallery-thumbs"+i;
            var val1s="#gallery-top-s"+i;
            var val2s="#gallery-thumbs-s"+i;
            app.hotelDetail.slick(val1,val2);
            app.hotelDetail.slick(val1s,val2s);
        }
    })


</script>
</body>
</html>


