<!DOCTYPE html>
<html class="html-case-detail">
<head>
    <%- include('Public/common_header',{pageTitle: data.pageTitle}); %>
    <%- include('Public/common_header_end'); %>
</head>
<body>
<%- include('Public/header'); %>
<div class="halo-search caseDetail hotelDetail">
    <div  class="detail-nav-bg">
        <%- include('Public/search_nav',{baseUrl:data.baseUrl}); %>
    </div>
    <div class="case-detail-block">
        <div class="s-container clearfix">
            <div class="wrapper clearfix">
                <div class="content-left-box detail-content-wrapper">
                    <div class="detail-hotel-content">
                        <div class="hotel-content-name">
                            <i class="line">——————</i><span class="f-20 name"> 千禧海鸥大酒店 · 外景 </span><i class="line">——————</i>
                        </div>
                        <div class="detail-hotel-swiper">
                            <div class="swiper-container gallery-top" id="gallery-top1" >
                                <a class="swiper-tip">
                                    <span class="span-style f-14">酒店外景</span>
                                    <span class="span-style f-14">720度全景</span>
                                </a>
                                <div class="swiper-wrapper">
                                    <% for(var i=0;i<10;i++){%>
                                    <div class="swiper-slide">
                                        <img src="/images/img16.jpg" alt="">
                                    </div>
                                    <%}%>
                                </div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next swiper-button-white"></div>
                                <div class="swiper-button-prev swiper-button-white"></div>
                            </div>
                            <div class="swiper-container-wrapper">
                                <a class="button-in" button-in>
                                    <img src="/images/img16.jpg" alt="">
                                    <p class="p">720全景</p>
                                </a>
                                <div class="swiper-container gallery-thumbs" swiper-thumbs id="gallery-thumbs1">
                                    <div class="swiper-wrapper">
                                        <% for(var i=0;i<10;i++){%>
                                        <div class="swiper-slide">
                                            <img src="/images/img16.jpg" alt="" class="img" swiper-slide-img>
                                        </div>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail-hotel-content">
                        <div class="hotel-content-name">
                            <i class="line">——————</i><span class="f-20 name"> 兴荣宴会厅 · 5F </span><i class="line">——————</i>
                        </div>
                        <div class="detail-hotel-swiper">
                            <div class="swiper-container gallery-top" id="gallery-top2" >
                                <a class="swiper-tip">
                                    <span class="span-style f-14">兴荣宴会厅</span>
                                    <span class="span-style f-14">720度全景</span>
                                </a>
                                <div class="swiper-wrapper">
                                    <% for(var i=0;i<10;i++){%>
                                    <div class="swiper-slide">
                                        <img src="/images/img16.jpg" alt="">
                                    </div>
                                    <%}%>
                                </div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next swiper-button-white"></div>
                                <div class="swiper-button-prev swiper-button-white"></div>
                            </div>
                            <div class="swiper-container-wrapper">
                                <a class="button-in" button-in>
                                    <img src="/images/img16.jpg" alt="">
                                    <p class="p">720全景</p>
                                </a>
                                <div class="swiper-container gallery-thumbs" swiper-thumbs id="gallery-thumbs2" >
                                    <div class="swiper-wrapper">
                                        <% for(var i=0;i<10;i++){%>
                                        <div class="swiper-slide">
                                            <img src="/images/img16.jpg" alt="" class="img" swiper-slide-img>
                                        </div>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                            <div class="hotel-info">
                                <table class="table table-responsive">
                                    <tbody>
                                        <tr class="f-16 tr">
                                            <td class="td">面积：<span class="style">840平</span></td>
                                            <td class="td">层高：<span class="style">6.7m</span></td>
                                            <td class="td">形状：<span class="style">长方形</span></td>
                                        </tr>
                                        <tr class="f-16 tr">
                                            <td class="td">特色：<span class="style">中式</span></td>
                                            <td class="td">柱子：<span class="style">无</span></td>
                                            <td class="td">桌数：<span class="style">40桌</span></td>
                                        </tr>
                                        <tr class="f-16 tr">
                                            <td class="td">投影设备：<span class="style">音响 LED屏</span></td>
                                            <td class="td"></td>
                                            <td class="td"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-right-box">
                    <div class="hotel-detail-list">
                        <div class="detail-list-company hotel">
                            <div class="company-img">
                                <img class="img" src="/images/img16.jpg" alt=""/>
                            </div>
                            <div class="company-desc">
                                <div class="f-16 name">
                                    千禧海鸥大酒店
                                </div>
                                <div class="f-16 address">
                                    <i class="icon haloIcon haloIcon-address f-22"></i>上海市长宁区延安西路2588号
                                </div>
                                <div class="f-16 phone">
                                    <i class="icon haloIcon haloIcon-phone f-22"></i>4000-699-500
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="other-like-case hotelDetail room">
                        <h4 class="f-14">全部宴会厅</h4>
                        <div class="other-case-block">
                            <% for(var i=0;i<5;i++){  %>
                            <div class="case-item">
                                <div class="case-pic">
                                    <div class="case-pic-img">
                                        <a href="/case/detail/" class="case-pic-a">
                                            <img src="/images/img16.jpg" alt="" class="img"/>
                                            <div class="tip f-12">720全景</div>
                                        </a>
                                    </div>
                                    <div class="case-pic-desc">
                                        <a href="/case/detail/" class="case-pic-a f-14">花月厅</a>
                                        <span class="f-12">最大容纳40桌</span>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                        </div>
                    </div>
                    <div class="other-like-case hotelDetail case">
                        <h4 class="f-14">宴会厅真实婚礼</h4>
                        <div class="other-case-block">
                            <% for(var i=0;i<10;i+=2){  %>
                            <div class="case-item">
                                <div class="case-pic">
                                    <a href="/case/detail/" class="case-pic-a"><img src="/images/img16.jpg" alt="" class="case-pic-img lazy"/></a>
                                    <div class="case-pic-desc">
                                        <a href="/case/detail/" class="case-pic-a f-14">十一</a>
                                    </div>
                                </div>
                                <div class="case-pic">
                                    <a href="/case/detail/" class="case-pic-a"><img src="/images/img16.jpg" alt="" class="case-pic-img lazy"/></a>
                                    <div class="case-pic-desc">
                                        <a href="/case/detail/" class="case-pic-a f-14">十一</a>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                        </div>
                    </div>
                    <div class="other-like-case hotelDetail desc">
                        <h4 class="f-14">酒店简介</h4>
                        <div class="hotel-block">
                            <div class="desc-t more" id="moreText">
                                上海四季酒店选址优越，地处上海静安区，坐落于市中
                                心的威海路，位于淮海路与南京路之间，毗邻人民广场
                                静安寺南京西路商圈，周边环境优雅，交通便利，有多
                                趟轨道交通和公交车可抵达，方便您的出行。被浓厚新
                                新旧上海气息包围的浦西四季酒店，作为四季品牌落户
                                的酒店，承载了新旧上海气息包围的浦西四季酒店新旧上海气息包围的浦西四季酒店.上海气息包围的浦西四季酒店.上海气息包围的浦西四季酒店.上海气息包围的浦西四季酒店.上海气息包围的浦西四季酒店.上海气息包围的浦西四季酒店.上海气息包围的浦西四季酒店.上海气息包围的浦西四季酒店.上海气息包围的浦西四季酒店.上海气息包围的浦西四季酒店.上海气息包围的浦西四季酒店.上海气息包围的浦西四季酒店.上海气息包围的浦西四季酒店.
                            </div>
                            <div class="see-more">
                                <a class="a-style" id="seeMore">查看全部<i class="haloIcon haloIcon-arrowdown f-18"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('Public/ModalDialog'); %>
<%- include('Public/footer'); %>
<%- include('Public/common_footer'); %>
<script>
    $(function(){
        "use strict";

        app.index.nav();

        app.index.indexInit();
        app.index.register();
        app.index.zcBtn();
        app.index.uiForms();
        app.index.login();
        app.index.forgetPassword();
        app.index.summitHover();
        app.index.loginInit();

        app.hotelDetail.seeMore();
        app.hotelDetail.buttonIn();
        app.hotelDetail.swiper("#gallery-top1","#gallery-thumbs1");
        app.hotelDetail.swiper("#gallery-top2","#gallery-thumbs2");
    })


</script>
</body>
</html>


