<!DOCTYPE html>
<html>
<head>
    <%- include('Public/common_header',{pageTitle: data.pageTitle}); %>
    <%- include('Public/common_header_end'); %>
</head>
<body>
<%- include('Public/header'); %>

<div class="halo-search">
    <%- include('Public/search_nav',{baseUrl:data.baseUrl}); %>
<div class="search-box">
    <div class="container">
        <div class="search-box-text">
            <h4 class="f-white"><span id="">22,098</span> 场精选婚礼案例 与 <span>178,298</span> 张灵感婚礼图片</h4>
            <p class="f-white">在这里，见证一个行业的跌宕起伏。</p>
        </div>
        <div class='search-box-input col-md-9 col-md-push-2'>
            <div class="col-md-3 col-sm-3">
                <div class="drop-wrap">
                    <div class="drop">
                        <b class="">婚礼案例</b>
                        <a href="#" class="drop-list"><i class="fa fa-sort-down"></i></a>
                        <span>
                            <button >婚礼案例</button>
                            <button >婚礼图片</button>
                            <button >婚礼公司</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="search_input">
                    <form  action="/case">
                         <span class="search_wrapper">
                             <input type="text" placeholder="例如 “复古婚礼” "name="tag">
                             <button class="search_button" type="submit">
                                 <!--<img src="/images/img5.png" alt="">-->
                                 <span class="glyphicon glyphicon-search" ></span>
                             </button>
                         </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-box">
<div class="pic-list">
<div class="container">
<div class="list-case">
<div class="col-md-10 col-sm-12" id="md-item-height">
<!-- <div class="md-10-item"> -->
<div class="xol-md-4 col-sm-8 hidden-sm ">
    <a class="pic-list-item">
        <img src="/images/img6.jpg" alt="" class="pic-list-item-img">
        <div class="pic-list-item-text">
            <div class="item-text-top">
                <p class="f-white f-12">北京汇爱婚礼策划</p>
            </div>
            <div class="item-text-bottom">
                <div class="item-text-bottom-position">
                    <div class="text-bottom-desc">
                        <ul class="desc-list">
                            <li class="desc-list-item"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                        </ul>
                    </div>
                    <div class="text-bottom-title">
                        <h4 class="f-18">魔术元素婚礼</h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="xol-md-4 col-sm-8 " id="xol-md-4">
    <a class="pic-list-item">
        <img src="/images/img6.jpg" alt="" class="pic-list-item-img">
        <div class="pic-list-item-text">
            <div class="item-text-top">
                <p class="f-white f-12">北京汇爱婚礼策划</p>
            </div>
            <div class="item-text-bottom">
                <div class="item-text-bottom-position">
                    <div class="text-bottom-desc">
                        <ul class="desc-list">
                            <li class="desc-list-item"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                        </ul>
                    </div>
                    <div class="text-bottom-title">
                        <h4 class="f-18">魔术元素婚礼</h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="xol-md-2 col-sm-4" id="xol-md-2-height">
    <a class="pic-list-item">
        <img src="/images/img6.jpg" alt="" class="pic-list-item-img">
        <div class="pic-list-item-text">
            <div class="item-text-top">
                <p class="f-white f-10"><span>北京汇爱婚礼策划</span></p>
            </div>
            <div class="item-text-bottom">
                <div class="item-text-bottom-position">
                    <div class="text-bottom-desc">
                        <ul class="desc-list">
                            <li class="desc-list-item"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                        </ul>
                    </div>
                    <div class="text-bottom-title">
                        <h4 class="f-18">魔术元素婚礼</h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<!-- </div> -->
<!-- <div class="md-10-item item-margin-top"> -->
<div class="xol-md-2 col-sm-4">
    <a class="pic-list-item">
        <img src="/images/img6.jpg" alt="" class="pic-list-item-img">
        <div class="pic-list-item-text">
            <div class="item-text-top">
                <p class="f-white f-10"><span>北京汇爱婚礼策划</span></p>
            </div>
            <div class="item-text-bottom">
                <div class="item-text-bottom-position">
                    <div class="text-bottom-desc">
                        <ul class="desc-list">
                            <li class="desc-list-item"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                        </ul>
                    </div>
                    <div class="text-bottom-title">
                        <h4 class="f-18">魔术元素婚礼</h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="xol-md-2 col-sm-4">
    <a class="pic-list-item">
        <img src="/images/img6.jpg" alt="" class="pic-list-item-img">
        <div class="pic-list-item-text">
            <div class="item-text-top">
                <p class="f-white f-10"><span>北京汇爱婚礼策划</span></p>
            </div>
            <div class="item-text-bottom">
                <div class="item-text-bottom-position">
                    <div class="text-bottom-desc">
                        <ul class="desc-list">
                            <li class="desc-list-item"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                        </ul>
                    </div>
                    <div class="text-bottom-title">
                        <h4 class="f-18">魔术元素婚礼</h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="xol-md-2 col-sm-4">
    <a class="pic-list-item">
        <img src="/images/img6.jpg" alt="" class="pic-list-item-img">
        <div class="pic-list-item-text">
            <div class="item-text-top">
                <p class="f-white f-10"><span>北京汇爱婚礼策划</span></p>
            </div>
            <div class="item-text-bottom">
                <div class="item-text-bottom-position">
                    <div class="text-bottom-desc">
                        <ul class="desc-list">
                            <li class="desc-list-item"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                        </ul>
                    </div>
                    <div class="text-bottom-title">
                        <h4 class="f-18">魔术元素婚礼</h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="xol-md-2 col-sm-4">
    <a class="pic-list-item">
        <img src="/images/img6.jpg" alt="" class="pic-list-item-img">
        <div class="pic-list-item-text">
            <div class="item-text-top">
                <p class="f-white f-10"><span>北京汇爱婚礼策划</span></p>
            </div>
            <div class="item-text-bottom">
                <div class="item-text-bottom-position">
                    <div class="text-bottom-desc">
                        <ul class="desc-list">
                            <li class="desc-list-item"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                        </ul>
                    </div>
                    <div class="text-bottom-title">
                        <h4 class="f-18">魔术元素婚礼</h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="xol-md-2 col-sm-4">
    <a class="pic-list-item">
        <img src="/images/img6.jpg" alt="" class="pic-list-item-img">
        <div class="pic-list-item-text">
            <div class="item-text-top">
                <p class="f-white f-10"><span>北京汇爱婚礼策划</span></p>
            </div>
            <div class="item-text-bottom">
                <div class="item-text-bottom-position">
                    <div class="text-bottom-desc">
                        <ul class="desc-list">
                            <li class="desc-list-item"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                        </ul>
                    </div>
                    <div class="text-bottom-title">
                        <h4 class="f-18">魔术元素婚礼</h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<!-- </div> -->
<!-- <div class="md-10-item item-margin-top"> -->
<div class="xol-md-2 col-sm-4">
    <a class="pic-list-item">
        <img src="/images/img6.jpg" alt="" class="pic-list-item-img">
        <div class="pic-list-item-text">
            <div class="item-text-top">
                <p class="f-white f-10"><span>北京汇爱婚礼策划</span></p>
            </div>
            <div class="item-text-bottom">
                <div class="item-text-bottom-position">
                    <div class="text-bottom-desc">
                        <ul class="desc-list">
                            <li class="desc-list-item"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                        </ul>
                    </div>
                    <div class="text-bottom-title">
                        <h4 class="f-18">魔术元素婚礼</h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="xol-md-2 col-sm-4">
    <a class="pic-list-item">
        <img src="/images/img6.jpg" alt="" class="pic-list-item-img">
        <div class="pic-list-item-text">
            <div class="item-text-top">
                <p class="f-white f-10"><span>北京汇爱婚礼策划</span></p>
            </div>
            <div class="item-text-bottom">
                <div class="item-text-bottom-position">
                    <div class="text-bottom-desc">
                        <ul class="desc-list">
                            <li class="desc-list-item"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                        </ul>
                    </div>
                    <div class="text-bottom-title">
                        <h4 class="f-18">魔术元素婚礼</h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="xol-md-2 col-sm-4">
    <a class="pic-list-item">
        <img src="/images/img6.jpg" alt="" class="pic-list-item-img">
        <div class="pic-list-item-text">
            <div class="item-text-top">
                <p class="f-white f-10"><span>北京汇爱婚礼策划</span></p>
            </div>
            <div class="item-text-bottom">
                <div class="item-text-bottom-position">
                    <div class="text-bottom-desc">
                        <ul class="desc-list">
                            <li class="desc-list-item"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                        </ul>
                    </div>
                    <div class="text-bottom-title">
                        <h4 class="f-18">魔术元素婚礼</h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="xol-md-2 col-sm-4">
    <a class="pic-list-item">
        <img src="/images/img6.jpg" alt="" class="pic-list-item-img">
        <div class="pic-list-item-text">
            <div class="item-text-top">
                <p class="f-white f-10"><span>北京汇爱婚礼策划</span></p>
            </div>
            <div class="item-text-bottom">
                <div class="item-text-bottom-position">
                    <div class="text-bottom-desc">
                        <ul class="desc-list">
                            <li class="desc-list-item"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                        </ul>
                    </div>
                    <div class="text-bottom-title">
                        <h4 class="f-18">魔术元素婚礼</h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="xol-md-2 col-sm-4 hidden-sm">
    <a class="pic-list-item">
        <img src="/images/img6.jpg" alt="" class="pic-list-item-img">
        <div class="pic-list-item-text">
            <div class="item-text-top">
                <p class="f-white f-10"><span>北京汇爱婚礼策划</span></p>
            </div>
            <div class="item-text-bottom">
                <div class="item-text-bottom-position">
                    <div class="text-bottom-desc">
                        <ul class="desc-list">
                            <li class="desc-list-item"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                        </ul>
                    </div>
                    <div class="text-bottom-title">
                        <h4 class="f-18">魔术元素婚礼</h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<!-- </div> -->
</div>
<div class="col-md-2 hidden-sm no-padding">
    <div class="col-md-12 no-padding">
        <div class="pic-list-item">
            <img src="/images/img6.jpg" alt="" class="pic-list-item-img">
        </div>
    </div>
</div>
</div>
<div class="col-md-12 col-sm-12 list-banner">
    <div class="banner-wrapper"></div>
</div>
</div>
</div>
</div>
<div class="search-content-block case">
    <div class="container">
        <div class="col-md-12">
            <div class='search-block-title'>
                <p class="search-block-text"><span class="f-black">精选案例</span><a class="b-pink" href="/case">查看全部案例 ></a></p>
                <div class='block-line'><span class="pink-line"></span><span class="grey-line"></span></div>
            </div>
        </div>
        <div class="search-block-content">
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img6.jpg" alt="">
                    <div class="content-item-text">
                        <h4 class="f-16">拾壹</h4>
                        <p class="f-12 s-title f-black">北京摩卡婚礼策划</p>
                        <div class="content-item-text-desc">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img6.jpg" alt="">
                    <div class="content-item-text">
                        <h4 class="f-16">拾壹</h4>
                        <p class="f-12 s-title f-black">北京摩卡婚礼策划</p>
                        <div class="content-item-text-desc">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img6.jpg" alt="">
                    <div class="content-item-text">
                        <h4 class="f-16">拾壹</h4>
                        <p class="f-12 s-title f-black">北京摩卡婚礼策划</p>
                        <div class="content-item-text-desc">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img6.jpg" alt="">
                    <div class="content-item-text">
                        <h4 class="f-16">拾壹</h4>
                        <p class="f-12 s-title f-black">北京摩卡婚礼策划</p>
                        <div class="content-item-text-desc">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img6.jpg" alt="">
                    <div class="content-item-text">
                        <h4 class="f-16">拾壹</h4>
                        <p class="f-12 s-title f-black">北京摩卡婚礼策划</p>
                        <div class="content-item-text-desc">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img6.jpg" alt="">
                    <div class="content-item-text">
                        <h4 class="f-16">拾壹</h4>
                        <p class="f-12 s-title f-black">北京摩卡婚礼策划</p>
                        <div class="content-item-text-desc">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="search-content-block special">
    <div class="container">
        <div class="col-md-12">
            <div class='search-block-title'>
                <p class="search-block-text"><span class="f-black">精选专题</span><a class="b-pink" href="/topic">查看全部专题 ></a></p>
                <div class='block-line'><span class="pink-line"></span><span class="grey-line"></span></div>
            </div>
        </div>
        <div class="search-block-content">
            <div class="col-md-4 col-sm-12">
                <div class="block-special-item">
                    <a class="block-special-item-pic">
                        <img src="/images/img6.jpg" alt="">
                    </a>
                    <div class="block-special-item-desc">
                        <div class="item-desc-middle">
                            <h4 class="f-16 f-black">拾壹</h4>
                            <p class="f-12 f-black">如果有一天，树不再扎根到土 壤里，蒲公英不再随风飘散如 果有一天，我们没有</p>
                            <div class="content-item-text-desc">
                                <ul class="desc-list">
                                    <li class="desc-list-item f-12"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                    <li class="desc-list-item f-12"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                    <li class="desc-list-item f-12"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="block-special-item">
                    <a class="block-special-item-pic">
                        <img src="/images/img6.jpg" alt="">
                    </a>
                    <div class="block-special-item-desc">
                        <div class="item-desc-middle">
                            <h4 class="f-16 f-black">拾壹</h4>
                            <p class="f-12 f-black">如果有一天，树不再扎根到土 壤里，蒲公英不再随风飘散如 果有一天，我们没有</p>
                            <div class="content-item-text-desc">
                                <ul class="desc-list">
                                    <li class="desc-list-item f-12"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                    <li class="desc-list-item f-12"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                    <li class="desc-list-item f-12"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="block-special-item">
                    <a class="block-special-item-pic">
                        <img src="/images/img6.jpg" alt="">
                    </a>
                    <div class="block-special-item-desc">
                        <div class="item-desc-middle">
                            <h4 class="f-16 f-black">拾壹</h4>
                            <p class="f-12 f-black">如果有一天，树不再扎根到土 壤里，蒲公英不再随风飘散如 果有一天，我们没有</p>
                            <div class="content-item-text-desc">
                                <ul class="desc-list">
                                    <li class="desc-list-item f-12"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                    <li class="desc-list-item f-12"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                    <li class="desc-list-item f-12"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="search-content-block pic">
    <div class="container">
        <div class="col-md-12">
            <div class='search-block-title'>
                <p class="search-block-text"><span class="f-black">精选图片</span><a class="b-pink" href="/picture">查看全部图片 ></a></p>
                <div class='block-line'><span class="pink-line"></span><span class="grey-line"></span></div>
            </div>
        </div>
        <div class="search-block-content">
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img6.jpg" alt="">
                    <div class="content-item-text">
                        <div class="content-item-text-desc">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img6.jpg" alt="">
                    <div class="content-item-text">
                        <div class="content-item-text-desc">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img6.jpg" alt="">
                    <div class="content-item-text">
                        <div class="content-item-text-desc">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img6.jpg" alt="">
                    <div class="content-item-text">
                        <div class="content-item-text-desc">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img6.jpg" alt="">
                    <div class="content-item-text">
                        <div class="content-item-text-desc">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img6.jpg" alt="">
                    <div class="content-item-text">
                        <div class="content-item-text-desc">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="search-content-block company">
    <div class="container">
        <div class="col-md-12">
            <div class='search-block-title'>
                <p class="search-block-text"><span class="f-black">精选公司</span><a class="b-pink" href="/company">查看全部公司 ></a></p>
                <div class='block-line'><span class="pink-line"></span><span class="grey-line"></span></div>
            </div>
        </div>
        <div class="search-block-content">

            <% data.list.forEach(function(item){ %>
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img7.jpg" alt="">
                    <div class="content-item-text">
                        <p class="f-12 s-title f-grey">北京摩卡婚礼策划</p>
                        <div class="content-item-text-desc">
                            <p class="f-12">共12个案例</p>
                        </div>
                    </div>
                </a>
            </div>
            <% }); %>

        </div>
    </div>
</div>
</div>
<%- include('Public/ModalDialog'); %>
<%- include('Public/footer'); %>
<%- include('Public/common_footer'); %>

<script>
    $(function(){
        "use strict";
        app.index.lazy();
        app.index.nav();
        app.index.indexInit();
        app.index.register();
        app.index.zcBtn();
        app.index.uiForms();
        app.index.login();
        app.index.summitHover();
        app.index.loginInit();

        /*searchIndex*/
        app.searchIndex.searchForm();
        app.searchIndex.reponsiveGrid();
        app.searchIndex.reponsivePad();
    });
</script>
</body>
</html>

