<!DOCTYPE html>
<html>
<head>
    <%- include('Public/common_header',{pageTitle: data.pageTitle}); %>
    <%- include('Public/common_header_end'); %>
</head>
<body>
<%- include('Public/header'); %>

<div class="halo-search">
    <%- include('Public/search_nav',{baseUrl:data.baseUrl}); %>
<div class="search-box">
    <div class="container">
        <div class="rowl">
        <div class="search-box-text">
            <h4 class="f-white"><span id="total-case"></span> 场精选婚礼案例 与 <span id="total-image"></span> 张灵感婚礼图片</h4>
            <p class="f-white">在这里，见证一个行业的跌宕起伏。</p>
        </div>
        <div class='search-box-input col-md-9 col-md-push-2 col-xs-9'>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="drop-wrap">
                    <div class="drop">
                        <b class="">婚礼案例</b>
                        <a href="#" class="drop-list"><i class="fa fa-sort-down"></i></a>
                        <span>
                            <button >婚礼案例</button>
                            <button >婚礼图片</button>
                            <button >婚礼公司</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                <div class="search_input">
                    <form  action="/case">
                         <span class="search_wrapper">
                             <input type="text" placeholder="例如 “复古婚礼” "name="tag">
                             <button class="search_button" type="submit">
                                 <!--<img src="/images/img5.png" alt="">-->
                                 <span class="glyphicon glyphicon-search" ></span>
                             </button>
                         </span>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="content-box">
<div class="pic-list">
<div class="container">
    <div class="rowl">
        <div class="list-case rowl">
        <div class="col-md-10 col-sm-12 col-xs-10 father-height" >
        <div class="xol-md-4 col-sm-8 hidden-sm xol-xs-4">
            <div class="pic-list-item">
                <a href="/case/detail/<%= data.case_new[0].id %>" class="a-style"><img src="<%= data.case_new[0].cover %>" alt="" class="pic-list-item-img"></a>
                <div class="pic-list-item-text">
                    <div class="item-text-top" style="background: <%=data.case_new[0].color%>">
                        <a href="/company/detail/<%= data.case_new[0].company_id %>"><p class="f-white f-12"><%= data.case_new[0].company %></p></a>
                    </div>
                    <a class="item-text-bottom" href="/case/detail/<%= data.case_new[0].id %>">
                        <div class="item-text-bottom-position">
                            <div class="text-bottom-desc">
                                <ul class="desc-list">
                                    <li class="desc-list-item"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num"><%= data.case_new[0].views %></span></li>
                                    <li class="desc-list-item"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num"><%= data.case_new[0].comments %></span></li>
                                    <li class="desc-list-item"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num"><%= data.case_new[0].points %></span></li>
                                </ul>
                            </div>
                            <div class="text-bottom-title">
                                <h4 class="f-18"><%= data.case_new[0].title %></h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="xol-md-4 col-sm-8 xol-xs-4 inner-father-height">
                <div class="pic-list-item">
                    <a href="/case/detail/<%= data.case_new[1].id %>" class="a-style"><img src="<%= data.case_new[1].cover %>" alt="" class="pic-list-item-img"></a>
                    <div class="pic-list-item-text">
                        <div class="item-text-top" style="background: <%=data.case_new[1].color%>">
                            <p class="f-white f-12"><a href="/company/detail/<%= data.case_new[1].company_id %>"><%= data.case_new[1].company %></a></p>
                        </div>
                        <a class="item-text-bottom" href="/case/detail/<%= data.case_new[1].id %>">
                            <div class="item-text-bottom-position">
                                <div class="text-bottom-desc">
                                    <ul class="desc-list">
                                        <li class="desc-list-item"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num"><%= data.case_new[1].views %></span></li>
                                        <li class="desc-list-item"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num"><%= data.case_new[1].comments %></span></li>
                                        <li class="desc-list-item"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num"><%= data.case_new[1].points %></span></li>
                                    </ul>
                                </div>
                                <div class="text-bottom-title">
                                    <h4 class="f-18"><%= data.case_new[1].title %></h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        <div class="xol-md-2 col-sm-4 xol-xs-2 inner-son-height" id="xol-md-2-height">
                <div class="pic-list-item">
                    <a href="/case/detail/<%= data.case_new[2].id %>" class="a-style"><img src="<%= data.case_new[2].cover %>" alt="" class="pic-list-item-img"></a>
                    <div class="pic-list-item-text">
                        <div class="item-text-top" style="background: <%=data.case_new[2].color%>">
                            <a href="/company/detail/<%= data.case_new[2].company_id %>"><p class="f-white f-10"><span><%= data.case_new[2].company %></span></p></a>
                        </div>
                        <a class="item-text-bottom" href="/case/detail/<%= data.case_new[2].id %>">
                            <div class="item-text-bottom-position">
                                <div class="text-bottom-desc">
                                    <ul class="desc-list">
                                        <li class="desc-list-item"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num"><%= data.case_new[2].views %></span></li>
                                        <li class="desc-list-item"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num"><%= data.case_new[2].comments %></span></li>
                                        <li class="desc-list-item"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num"><%= data.case_new[2].points %></span></li>
                                    </ul>
                                </div>
                                <div class="text-bottom-title">
                                    <h4 class="f-18"><%= data.case_new[2].title %></h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        <% for(var i=3; i<12;i++){ %>
            <div class="xol-md-2 col-sm-4 <%if(i==3){%>cl<%}%> xol-xs-2">
                <div class="pic-list-item" >
                    <a href="/case/detail/<%= data.case_new[i].id %>" class="a-style"><img src="<%= data.case_new[i].cover %>" alt="" class="pic-list-item-img"></a>
                    <div class="pic-list-item-text">
                        <div class="item-text-top" style="background: <%=data.case_new[i].color%>">
                            <a href="/company/detail/<%= data.case_new[i].company_id %>"><p class="f-white f-10"><span><%= data.case_new[i].company %></span></p></a>
                        </div>
                        <a class="item-text-bottom" href="/case/detail/<%= data.case_new[i].id %>">
                            <div class="item-text-bottom-position">
                                <div class="text-bottom-desc">
                                    <ul class="desc-list">
                                        <li class="desc-list-item"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num"><%= data.case_new[i].views %></span></li>
                                        <li class="desc-list-item"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num"><%= data.case_new[i].comments %></span></li>
                                        <li class="desc-list-item"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num"><%= data.case_new[i].points %></span></li>
                                    </ul>
                                </div>
                                <div class="text-bottom-title">
                                    <h4 class="f-18"><%= data.case_new[i].title %></h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        <% }%>
        <div class="xol-md-2 col-sm-4 hidden-sm xol-xs-2">
            <div class="pic-list-item">
                <a href="/case/detail/<%= data.case_new[12].id %>"><img src="<%= data.case_new[12].cover %>" alt="" class="pic-list-item-img"></a>
                <div class="pic-list-item-text">
                    <div class="item-text-top" style="background: <%=data.case_new[12].color%>">
                        <a href="/company/detail/<%= data.case_new[12].company_id %>"><p class="f-white f-10"><span><%= data.case_new[12].company %></span></p></a>
                    </div>
                    <a class="item-text-bottom" href="/case/detail/<%= data.case_new[12].id %>">
                        <div class="item-text-bottom-position">
                            <div class="text-bottom-desc">
                                <ul class="desc-list">
                                    <li class="desc-list-item"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num"><%= data.case_new[12].views %></span></li>
                                    <li class="desc-list-item"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num"><%= data.case_new[12].comments %></span></li>
                                    <li class="desc-list-item"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num"><%= data.case_new[12].points %></span></li>
                                </ul>
                            </div>
                            <div class="text-bottom-title">
                                <h4 class="f-18"><%= data.case_new[12].title %></h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-2 hidden-sm no-padding col-xs-2 son-height" >
            <div class="col-md-12 no-padding">
                <div class="pic-list-item">
                    <a href="http://www.halobear.com/school" target="_blank"><img src="/images/img14.png" alt="" class="pic-list-item-img"></a>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-12 col-sm-12 list-banner col-xs-12">
            <div class="banner-wrapper">
                <a href="http://mp.weixin.qq.com/s?__biz=MzAwNjAwNjU0Ng==&mid=407575490&idx=1&sn=74d6dbe60dca46fb3680d96eecdd4f1f&scene=2&srcid=0310lLP9n0aasmogM9ql5aE6&from=timeline&isappinstalled=0#wechat_redirect" target="_blank">
                    <img src="/images/img13.jpg" alt="" class="pic-list-item-img">
                </a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="search-content-block case">
    <div class="container">
        <div class="rowl">
        <div class="col-md-12 col-xs-12">
            <div class='search-block-title'>
                <p class="search-block-text"><span class="f-black">精选案例</span><a class="b-pink" href="/case">查看全部案例 ></a></p>
                <div class='block-line'><span class="pink-line"></span><span class="grey-line"></span></div>
            </div>
        </div>
        <div class="search-block-content">
            <% data.case_recommend.forEach(function(n,i){ %>
                <div class="col-md-2 col-sm-4 col-xs-2">
                    <div class="block-content-item">
                        <a href="/case/detail/<%= n.id%>"><img src="<%= n.cover %>" alt=""></a>
                        <div class="content-item-text">
                            <a href="/case/detail/<%= n.id%>"><h4 class="f-16"><%= n.title %></h4></a>
                            <a href="/company/detail/<%= n.company_id %>"><p class="f-12 s-title f-black"><%= n.company%></p></a>
                            <div class="content-item-text-desc">
                                <ul class="desc-list">
                                    <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num"><%= n.views%></span></li>
                                    <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num"><%= n.comments%></span></li>
                                    <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num"><%= n.points%></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>
            <%})%>
        </div>
        </div>
    </div>
</div>
<div class="search-content-block special">
    <div class="container">
        <div class="rowl">
            <div class="col-md-12 col-xs-12">
                <div class='search-block-title'>
                    <p class="search-block-text"><span class="f-black">精选专题</span><a class="b-pink" href="/topic">查看全部专题 ></a></p>
                    <div class='block-line'><span class="pink-line"></span><span class="grey-line"></span></div>
                </div>
            </div>
            <div id="topic-list" class="search-block-content">
                <% data.zhuanti.forEach(function(n,i){ %>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="block-special-item">
                        <a class="block-special-item-pic" href="/topic/detail/<%= n.id%>">
                            <img class="img" src="<%= n.default_image%>" alt="">
                        </a>
                        <div class="block-special-item-desc">
                            <div class="block-special-item-desc-content">
                                <a class="tit" href="/topic/detail/<%= n.id%>"><%= n.title%></a>
                                <div topic-des class="des"><%= n.description%></div>
                                <div class="content-item-text-desc">
                                    <ul class="desc-list">
                                        <li class="desc-list-item f-12"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num"><%= n.views%></span></li>
                                        <li class="desc-list-item f-12"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num"><%= n.comments%></span></li>
                                        <li class="desc-list-item f-12"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num"><%= n.points%></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%})%>
            </div>
        </div>
    </div>
</div>
<div class="search-content-block pic">
    <div class="container">
        <div class="rowl">
            <div class="col-md-12 col-xs-12">
                <div class='search-block-title'>
                    <p class="search-block-text"><span class="f-black">精选图片</span><a class="b-pink" href="/picture">查看全部图片 ></a></p>
                    <div class='block-line'><span class="pink-line"></span><span class="grey-line"></span></div>
                </div>
            </div>
            <div class="search-block-content">
                <% data.image.forEach(function(n,i){ %>
                    <div class="col-md-2 col-sm-4 col-xs-2">
                        <a class="block-content-item" href="/picture/detail/<%= n.id%>">
                            <img src="<%= n.path %>" alt="">
                            <div class="content-item-text">
                                <div class="content-item-text-desc">
                                    <ul class="desc-list">
                                        <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num"><%= n.views%></span></li>
                                        <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num"><%= n.comments%></span></li>
                                        <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num"><%= n.points%></span></li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                <%})%>
            </div>
        </div>
    </div>
</div>
<div class="search-content-block company">
    <div class="container">
        <div class="rowl">
            <div class="col-md-12 col-xs-12">
                <div class='search-block-title'>
                    <p class="search-block-text"><span class="f-black">精选公司</span><a class="b-pink" href="/company">查看全部公司 ></a></p>
                    <div class='block-line'><span class="pink-line"></span><span class="grey-line"></span></div>
                </div>
            </div>
            <div id="company-list" class="search-block-content">
                <% data.company.forEach(function(n,i){%>
                    <div class="col-md-2 col-sm-4 col-xs-2">
                        <div class="block-content-item" >
                            <a class="link" href="/company/detail/<%= n.id%>"><img src="<%= n.logo%>" alt=""></a>
                            <div class="content-item-text">
                                <a href="/company/detail/<%= n.id%>"><p class="f-12 s-title f-grey"><%= n.name%></p></a>
                                <div class="content-item-text-desc">
                                    <a href="/company/detail/<%= n.id%>"><p class="f-12">共<%=n.case_num%>个案例</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% })%>
            </div>
        </div>
    </div>
</div>
</div>
<%- include('Public/ModalDialog'); %>
<%- include('Public/footer'); %>
<%- include('Public/common_footer'); %>

<script>
    $(function(){
        "use strict";
        app.getStaticData();
        app.index.lazy();
        app.index.nav();
        app.index.indexInit();
        app.index.register();
        app.index.zcBtn();
        app.index.uiForms();
        app.index.login();
        app.index.summitHover();
        app.index.loginInit();
        app.index.topicEllipsis();
        app.index.resizeLogo();

        /*searchIndex*/
        app.searchIndex.searchForm();
//        app.searchIndex.reponsiveGrid();
        app.searchIndex.sameHeight('father-height','son-height');
        app.searchIndex.sameHeight('inner-father-height','inner-son-height');
    });
</script>
</body>
</html>

