<!DOCTYPE html>
<html>
<head>
    <%- include('Public/common_header',{pageTitle: data.pageTitle}); %>
    <%- include('Public/common_header_end'); %>
</head>
<body>
<%- include('Public/header'); %>

<div class="halo-search index">
    <%- include('Public/search_nav',{baseUrl:data.baseUrl}); %>
    <div class="search-box">
        <div class="s-container">
            <div class="">
                <div class="search-box-text">
                    <h4 class="f-white"><span class="search-total-case" id="total-case"></span> 场精选婚礼案例 与 <span class="search-total-image" id="total-image"></span> 张灵感婚礼图片
                    </h4>
                    <p class="f-white f-18">在这里，见证一个行业的跌宕起伏。</p>
                </div>
                <div class='search-box-input clearfix'>
                    <div class="tab-box">
                        <div class="drop-wrap">
                            <div class="drop">
                                <b class="">婚礼案例</b>
                                <a href="#" class="drop-list"><i class="haloIcon haloIcon-unfold f-18"></i></a>
                            <span>
                                <button>婚礼案例</button>
                                <button>婚礼图片</button>
                                <button>婚礼公司</button>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="search_input">
                            <form action="/case">
                             <span class="search_wrapper">
                                 <input type="text" placeholder="例如 “复古婚礼” " name="tag">
                                 <button class="search_button" type="submit">
                                     <!--<img src="/images/img5.png" alt="">-->
                                     <span class="haloIcon haloIcon-glass f-30"></span>
                                 </button>
                             </span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-box">
        <div class="s-container">
            <div class="pic-list">
                <div class="">
                    <div class="list-case cf">
                        <div class="father-height case-content">
                            <div class="case-123 cf">
                                <div class="item item-1">
                                    <div class="pic-list-item special">
                                        <a href="/case/detail/<%= data.case_new[0].id %>" class="a-style"><img
                                                    src="<%= data.case_new[0].cover %>" alt=""
                                                    class="pic-list-item-img"></a>
                                        <% if( data.case_new[0].company){ %>
                                        <div class="item-text-top" style="background: <%= data.case_new[0].color %>;">
                                            <a href="/company/detail/<%= data.case_new[0].company_id %>"><p
                                                        class="f-white f-12" title="<%= data.case_new[0].company %>"
                                                        style="color:<%= hexToRgb(data.case_new[0].color, true, true) %>;"><%= data.case_new[0].company %></p>
                                            </a>
                                        </div>
                                        <% } %>
                                        <a class="item-text-bottom" href="/case/detail/<%= data.case_new[0].id %>">
                                            <div class="item-text-bottom-position">
                                                <div class="text-bottom-desc">
                                                    <ul class="list-unstyled desc-list">
                                                        <li class="desc-list-item"><span
                                                                    class="haloIcon haloIcon-eye"></span><span
                                                                    class="desc-list-item-num"><%= viewNumber(data.case_new[0].views) %></span>
                                                        </li>
                                                        <li class="desc-list-item"><span
                                                                    class="haloIcon haloIcon-message"></span><span
                                                                    class="desc-list-item-num"><%= viewNumber(data.case_new[0].comments) %></span>
                                                        </li>
                                                        <li class="desc-list-item"><span
                                                                    class="haloIcon haloIcon-heart2"></span><span
                                                                    class="desc-list-item-num"><%= viewNumber(data.case_new[0].points) %></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="text-bottom-title">
                                                    <h4 class="f-14"><%= data.case_new[0].title %></h4>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="item item-2 inner-father-height">
                                    <div class="pic-list-item special">
                                        <a href="/case/detail/<%= data.case_new[1].id %>" class="a-style">
                                            <img
                                                    src="<%= data.case_new[1].cover %>" alt=""
                                                    class="pic-list-item-img"></a>
                                        <% if( data.case_new[1].company){ %>
                                        <div class="item-text-top" style="background: <%= data.case_new[1].color %>;">
                                            <a href="/company/detail/<%= data.case_new[1].company_id %>"
                                               title="<%= data.case_new[1].company %>"
                                               class="f-white f-12"><p style="color:<%= hexToRgb(data.case_new[1].color, true, true) %>;"
                                                        ><%= data.case_new[1].company %></p>
                                            </a>
                                        </div>
                                        <% } %>
                                        <a class="item-text-bottom" href="/case/detail/<%= data.case_new[1].id %>">
                                            <div class="item-text-bottom-position">
                                                <div class="text-bottom-desc">
                                                    <ul class="list-unstyled desc-list">
                                                        <li class="desc-list-item"><span
                                                                    class="haloIcon haloIcon-eye"></span><span
                                                                    class="desc-list-item-num"><%= viewNumber(data.case_new[1].views) %></span>
                                                        </li>
                                                        <li class="desc-list-item"><span
                                                                    class="haloIcon haloIcon-message"></span><span
                                                                    class="desc-list-item-num"><%= viewNumber(data.case_new[1].comments) %></span>
                                                        </li>
                                                        <li class="desc-list-item"><span
                                                                    class="haloIcon haloIcon-heart2"></span><span
                                                                    class="desc-list-item-num"><%= viewNumber(data.case_new[1].points) %></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="text-bottom-title">
                                                    <h4 class="f-14"><%= data.case_new[1].title %></h4>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="item item-3 inner-son-height" >
                                    <div class="pic-list-item special">
                                        <a href="/case/detail/<%= data.case_new[2].id %>" class="a-style"><img
                                                    src="<%= data.case_new[2].cover %>" alt="" title="<%= data.case_new[2].company %>"
                                                    class="pic-list-item-img"></a>
                                        <% if( data.case_new[2].company){ %>
                                        <div class="item-text-top" style="background: <%= data.case_new[2].color %>;">
                                            <a href="/company/detail/<%= data.case_new[2].company_id %>"><p
                                                        class="f-white f-12"
                                                        style="color:<%= hexToRgb(data.case_new[2].color, true, true) %>;"><%= data.case_new[2].company %></p>
                                            </a>
                                        </div>
                                        <% } %>
                                        <a class="item-text-bottom" href="/case/detail/<%= data.case_new[2].id %>">
                                            <div class="item-text-bottom-position">
                                                <div class="text-bottom-desc">
                                                    <ul class="list-unstyled desc-list">
                                                        <li class="desc-list-item desc-list-special"><span
                                                                    class="haloIcon haloIcon-eye"></span><span
                                                                    class="desc-list-item-num"><%= viewNumber(data.case_new[2].views) %></span>
                                                        </li>
                                                        <li class="desc-list-item desc-list-special"><span
                                                                    class="haloIcon haloIcon-message"></span><span
                                                                    class="desc-list-item-num"><%= viewNumber(data.case_new[2].comments) %></span>
                                                        </li>
                                                        <li class="desc-list-item desc-list-special"><span
                                                                    class="haloIcon haloIcon-heart2"></span><span
                                                                    class="desc-list-item-num"><%= viewNumber(data.case_new[2].points) %></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="text-bottom-title">
                                                    <h4 class="f-14"><%= data.case_new[2].title %></h4>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="case-rest cf">
                                <% for(var i = 3; i < data.case_new.length;i++){ %>
                                <div class="item item-<%=i-2%>">
                                    <div class="pic-list-item special">
                                        <a href="/case/detail/<%= data.case_new[i].id %>" class="a-style"><img
                                                    src="<%= data.case_new[i].cover %>" alt=""
                                                    class="pic-list-item-img"></a>

                                        <% if( data.case_new[i].company){ %>
                                        <div class="item-text-top" style="background: <%= data.case_new[i].color %>;">
                                            <a href="/company/detail/<%= data.case_new[i].company_id %>"><p
                                                        class="f-white f-12" title="<%= data.case_new[i].company %>"
                                                        style="color:<%= hexToRgb(data.case_new[i].color, true, true) %>;"><%= data.case_new[i].company %></p>
                                            </a>
                                        </div>
                                        <% } %>
                                        <a class="item-text-bottom" href="/case/detail/<%= data.case_new[i].id %>">
                                            <div class="item-text-bottom-position">
                                                <div class="text-bottom-desc">
                                                    <ul class="list-unstyled desc-list">
                                                        <li class="desc-list-item desc-list-special"><span
                                                                    class="haloIcon haloIcon-eye"></span></span><span
                                                                    class="desc-list-item-num"><%= viewNumber(data.case_new[i].views) %></span>
                                                        </li>
                                                        <li class="desc-list-item desc-list-special"><span
                                                                    class="haloIcon haloIcon-message"></span><span
                                                                    class="desc-list-item-num"><%= viewNumber(data.case_new[i].comments) %></span>
                                                        </li>
                                                        <li class="desc-list-item desc-list-special"><span
                                                                    class="haloIcon haloIcon-heart2"></span><span
                                                                    class="desc-list-item-num"><%= viewNumber(data.case_new[i].points) %></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="text-bottom-title">
                                                    <h4 class="f-14"><%= data.case_new[i].title %></h4>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>

                        <!--<div class="son-height case-ad cf">-->
                            <!--<div class="pic-list-item">-->
                                <!--<a href="http://www.halobear.com/school" target="_blank"><img-->
                                            <!--src="/images/img14.png" alt="" class="pic-list-item-img"></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <div class="list-banner">
                        <div class="banner-wrapper">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzAwNjAwNjU0Ng==&mid=407575490&idx=1&sn=74d6dbe60dca46fb3680d96eecdd4f1f&scene=2&srcid=0310lLP9n0aasmogM9ql5aE6&from=timeline&isappinstalled=0#wechat_redirect"
                               target="_blank">
                                <img src="/images/img13.jpg" alt="" class="pic-list-item-img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-content-block case">
        <div class="container">
            <div class="rowl">
                <div class="col-md-12 col-xs-12">
                    <div class='search-block-title'>
                        <p class="search-block-text"><span class="f-black f-18">精选案例</span><a class="b-pink f-18"
                                                                                              href="/case">查看全部案例 <i class="haloIcon haloIcon-right"></i></a>
                        </p>
                        <div class='block-line'><span class="pink-line"></span><span class="grey-line"></span></div>
                    </div>
                </div>
                <div class="search-block-content clearfix">
                    <% data.case_recommend.forEach(function(n, i){ %>
                    <div class="col-md-2-4 col-sm-2-4 col-xs-2-4">
                        <div class="block-content-item">
                            <a href="/case/detail/<%= n.id %>" class="wrapper"><img class="case-img lazy" data-original="<%= n.cover %>" alt=""></a>
                            <div class="content-item-text">
                                <a href="/case/detail/<%= n.id %>"><h4 class="f-14"><%= n.title %></h4></a>
                                <a href="/company/detail/<%= n.company_id %>"><p
                                            class="f-12 s-title f-black"><%= n.company %></p></a>
                                <div class="content-item-text-desc">
                                    <ul class="list-unstyled desc-list">
                                        <li class="desc-list-item f-12"><span class="haloIcon haloIcon-eye"></span><span
                                                    class="desc-list-item-num"><%= viewNumber(n.views) %></span></li>
                                        <li class="desc-list-item f-12"><span
                                                    class="haloIcon haloIcon-heart2"></span><span
                                                    class="desc-list-item-num"><%= viewNumber(n.points) %></span></li>
                                        <li class="desc-list-item f-12"><span
                                                    class="haloIcon haloIcon-message"></span><span
                                                    class="desc-list-item-num"><%= viewNumber(n.comments) %></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    <div class="search-content-block special">
        <div class="container">
            <div class="rowl">
                <div class="col-md-12 col-xs-12">
                    <div class='search-block-title'>
                        <p class="search-block-text"><span class="f-black f-18">精选专题</span><a class="b-pink f-18"
                                                                                              href="/topic">查看全部专题 <i class="haloIcon haloIcon-right"></i></a>
                        </p>
                        <div class='block-line'><span class="pink-line"></span><span class="grey-line"></span></div>
                    </div>
                </div>
                <div id="topic-list" class="search-block-content">
                    <% data.zhuanti.forEach(function(n, i){ %>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="block-special-item">
                            <a class="block-special-item-pic" href="/topic/detail/<%= n.id %>">
                                <img class="topic-img lazy" data-original="<%= n.default_image %>" alt="">
                            </a>
                            <div class="block-special-item-desc">
                                <div class="block-special-item-desc-content">
                                    <a class="tit f-16" href="/topic/detail/<%= n.id %>"><%= n.title %></a>
                                    <div topic-des class="des"><%= n.description %></div>
                                    <div class="content-item-text-desc">
                                        <ul class="list-unstyled desc-list ">
                                            <li class="desc-list-item f-12 list-special-style"><span
                                                        class="haloIcon haloIcon-eye"></span><span
                                                        class="desc-list-item-num"><%= viewNumber(n.views) %></span>
                                            </li>
                                            <li class="desc-list-item f-12 list-special-style"><span
                                                        class="haloIcon haloIcon-heart2"></span><span
                                                        class="desc-list-item-num"><%= viewNumber(n.points) %></span>
                                            </li>
                                            <li class="desc-list-item f-12 list-special-style"><span
                                                        class="haloIcon haloIcon-message"></span><span
                                                        class="desc-list-item-num"><%= viewNumber(n.comments) %></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    <div class="search-content-block pic">
        <div class="container">
            <div class="rowl">
                <div class="col-md-12 col-xs-12">
                    <div class='search-block-title'>
                        <p class="search-block-text"><span class="f-black f-18">精选图片</span><a class="b-pink f-18"
                                                                                              href="/picture">查看全部图片
                                <i class="haloIcon haloIcon-right"></i></a></p>
                        <div class='block-line'><span class="pink-line"></span><span class="grey-line"></span></div>
                    </div>
                </div>
                <div class="search-block-content">
                    <% data.image.forEach(function(n, i){ %>
                    <div class="col-md-2-4 col-sm-2-4 col-xs-2-4">
                        <a class="block-content-item" href="/picture/detail/<%= n.id %>">
                            <div class="img-box">
                                <img data-original="<%= n.path %>" alt="" class="picture-img lazy">
                            </div>
                            <div class="img-gradient-layer"></div>
                            <div class="content-item-text">
                                <!--<div class="bg" ></div>-->
                                <ul class="list-unstyled view-list">
                                    <li class="item"><span class="haloIcon haloIcon-eye"></span><span
                                                class="desc-list-item-num"><%= viewNumber(n.views) %></span></li>
                                    <li class="item"><span class="haloIcon haloIcon-heart2"></span><span
                                                class="desc-list-item-num"><%= viewNumber(n.points) %></span></li>
                                    <li class="item"><span class="haloIcon haloIcon-message"></span><span
                                                class="desc-list-item-num"><%= viewNumber(n.comments) %></span></li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    <div class="search-content-block company">
        <div class="container">
            <div class="rowl">
                <div class="col-md-12 col-xs-12">
                    <div class='search-block-title'>
                        <p class="search-block-text"><span class="f-black f-18">精选公司</span><a class="b-pink f-18"
                                                                                              href="/company">查看全部公司
                                <i class="haloIcon haloIcon-right"></i></a></p>
                        <div class='block-line'><span class="pink-line"></span><span class="grey-line"></span></div>
                    </div>
                </div>
                <div id="company-list" class="search-block-content">
                    <% data.company.forEach(function(n, i){ %>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="block-content-item">
                            <a class="link" href="/company/detail/<%= n.id %>"><img class="lazy" data-original="<%= n.logo %>" alt="" class="company-logo-img"></a>
                            <div class="content-item-text">
                                <a href="/company/detail/<%= n.id %>"><p class="f-14 s-title f-grey"><%= n.name %></p>
                                </a>
                                <div class="content-item-text-desc">
                                    <a href="/company/detail/<%= n.id %>"><p class="f-12">共<%= n.case_num %>个案例</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('Public/ModalDialog'); %>
<%- include('Public/footer'); %>
<%- include('Public/common_footer'); %>

<script>
    $(function () {
        "use strict";
        app.getStaticData();
        app.index.lazy();
//        app.index.nav();
        app.index.indexInit();
        app.index.register();
        app.index.zcBtn();
        app.index.uiForms();
        app.index.login();
        app.index.summitHover();
        app.index.loginInit();
        app.index.topicEllipsis();
//        app.index.resizeLogo();

        /*searchIndex*/
        app.searchIndex.searchForm();
//        app.searchIndex.reponsiveGrid();
//        app.searchIndex.sameHeight('father-height', 'son-height');
//        app.searchIndex.sameHeight('inner-father-height', 'inner-son-height');
    });
</script>
</body>
</html>

