<!DOCTYPE html>
<html class="html-topic-index">
<head>
    <%- include('Public/common_header',{pageTitle:data.pageTitle}); %>
    <%- include('Public/common_header_end'); %>
</head>
<body>
<%- include('Public/header'); %>
<div class="halo-search case topic">
    <%- include('Public/search_nav',{baseUrl:data.baseUrl}); %>
    <div class="search-box ">
        <div class="ss-container">
            <div class="search-box-text">
                <h4 class="f-white"><span class="search-total-case" id="total-case"></span> 场精选婚礼案例 与 <span class="search-total-image" id="total-image"></span> 张灵感婚礼图片
                </h4>
                <p class="f-white f-18">在这里，见证一个行业的跌宕起伏。</p>
            </div>
            <div class='search-box-input case clearfix'>
                    <div class="search_input">
                        <form action="/case">
                        <span class="search_wrapper">
                            <input type="text" name="tag" placeholder="搜索有关婚礼的一切" value="<%= data.tag %>">
                            <button class="search_button" type="submit">
                                <!--<img src="/images/img5.png" alt="">-->
                                <span class="haloIcon haloIcon-glass f-30"></span>
                            </button>
                        </span>
                        </form>
                    </div>
                    <div class="search_button_group">
                        <form action="">
                            <div class="col-md-3 col-xs-3 col-sm-3">
                                <a class="f-14" href="/case?tag=剪影">剪影</a>
                            </div>
                            <div class="col-md-3 col-xs-3 col-sm-3">
                                <a class="f-14" href="/case?tag=波普">波普</a>
                            </div>
                            <div class="col-md-3 col-xs-3 col-sm-3">
                                <a class="f-14" href="/case?tag=新中式">新中式</a>
                            </div>
                            <div class="col-md-3 col-xs-3 col-sm-3">
                                <a class="f-14" href="/case?tag=公主风">公主风</a>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
    <div class="topic-list-v2" id="topic-list-v2">
         <div class="s-container cf">

             <div class="topic-list-v2-inner">
                 <% data.data.forEach(function(item){ %>
                 <div class="col-md-4 col-sm-4 col-xs-4">
                     <div class="item">
                         <a class="img-wrapper" href="topic/detail/<%= item.id %>">
                             <img data-original="<%= item.default_image %>" class="lazy img" alt=""
                                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAADUExURfDw8Lu/XasAAAAKSURBVAjXY2AAAAACAAHiIbwzAAAAAElFTkSuQmCC">
                         </a>
                         <div class="content-wrapper">
                             <a class="title" href="topic/detail/<%= item.id %>"><%= item.title %></a>
                             <div class="description" topic-des >
                                 <%= item.description %>
                             </div>
                             <ul class="list-unstyled statistics cf">
                                 <li class="statistics-item">
                                     <span class="haloIcon haloIcon-eye"></span><span class="num"><%= item.views %></span>
                                 </li>
                                 <li class="statistics-item">
                                     <span class="haloIcon haloIcon-heart2"></span><span class="num"><%= item.points %></span>
                                 </li>
                                 <li class="statistics-item">
                                     <span class="haloIcon haloIcon-message"></span><span class="num"><%= item.comments %></span>
                                 </li>
                             </ul>
                         </div>
                     </div>
                 </div>
                 <% }) %>
             </div>
         </div>
    </div>
    <% if (data.totalPages>1) { %>
    <div class="case-pagination">
        <div class="container">
            <div id="pagination" class="pagination pagination-item"></div>
        </div>
    </div>
    <%}%>

</div>
    <%- include('Public/ModalDialog'); %>
    <%- include('Public/footer'); %>
    <%- include('Public/common_footer'); %>

    <script>
        $(function(){
            "use strict";
            <%- 'window.appData ='+JSON.stringify(appData) %>;
            app.getStaticData();
            app.index.lazy();
            app.index.nav();
            app.index.indexInit();
            app.index.register();
            app.index.zcBtn();
            app.index.uiForms();
            app.index.login();
            app.index.forgetPassword();
            app.index.summitHover();
            app.index.loginInit();

            app.topicIndex.alignCenter("wrapper","inner");
            app.topicIndex.pagActive();
            app.topicIndex.topicEllipsis();



        })


    </script>
</body>
</html>


