<!DOCTYPE html>
<html class="html-hotel-index">
<head>
    <%- include('Public/common_header',{pageTitle: data.pageTitle}); %>
    <%- include('Public/common_header_end'); %>
</head>
<body>
<%- include('Public/header'); %>
<div class="halo-search case uc">
    <%- include('Public/search_nav',{baseUrl:data.baseUrl}); %>
</div>


<%- include('Public/ModalDialog'); %>
<%- include('Public/footer'); %>
<%- include('Public/common_footer'); %>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-animate.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-resource.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-touch.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-sanitize.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-messages.js"></script>
<script src="//cdn.bootcss.com/angular-ui-router/0.2.18/angular-ui-router.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.1/ui-bootstrap-tpls.js"></script>


<script>
    $(function(){

        app.getStaticData();
        app.index.lazy();
        app.index.nav();
        app.index.indexInit();
        app.index.register();
        app.index.zcBtn();
        app.index.uiForms();
        app.index.login();
        app.index.forgetPassword();
        app.index.summitHover();
        app.index.loginInit();


    })
</script>
</body>
</html>


