<!DOCTYPE html>
<html class="html-hotel-index">
<head>
    <%- include('Public/common_header',{pageTitle: data.pageTitle}); %>
    <%- include('Public/common_header_end'); %>
</head>
<body>
<%- include('Public/header'); %>
<div class="halo-search case uc">
    <%- include('Public/search_nav',{baseUrl:data.baseUrl}); %>

    uc




</div>
<%- include('Public/ModalDialog'); %>
<%- include('Public/footer'); %>
<%- include('Public/common_footer'); %>

<script>
    $(function(){

        app.getStaticData();
        app.index.lazy();
        app.index.nav();
        app.index.indexInit();
        app.index.register();
        app.index.zcBtn();
        app.index.uiForms();
        app.index.login();
        app.index.forgetPassword();
        app.index.summitHover();
        app.index.loginInit();


    })
</script>
</body>
</html>


